Flow Code.html
[{"id":"4361c698.a5b3d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b5641a64.7b8228","type":"function","z":"4361c698.a5b3d8","name":"PreToken","func":"global.set(\"n\",msg.payload.n)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"yor\",msg.payload.yor)\nglobal.set(\"rd\",msg.payload.rd)\nvar apikey=\"NRuEybUu64KfSgfPHijOgBtetJ_qrEAjdTnKXUCQHW_R\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":300,"wires":[["45530199.8f08b"]]},{"id":"45530199.8f08b","type":"http request","z":"4361c698.a5b3d8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":288.9999952316284,"wires":[["9b206c59.1989"]]},{"id":"1859c3e5.39d5dc","type":"debug","z":"4361c698.a5b3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":898.0000114440918,"y":30.99999713897705,"wires":[]},{"id":"9b206c59.1989","type":"function","z":"4361c698.a5b3d8","name":"Pre Prediction","func":"var n=global.get(\"n\")\nvar m=global.get(\"m\")\nvar p=global.get(\"p\")\nvar km=global.get(\"km\")\nvar t=global.get(\"t\")\nvar ft=global.get(\"ft\")\nvar yor=global.get(\"yor\")\nvar rd=global.get(\"rd\")\nvar token=msg.payload.access_token\nvar instance_id=\"aa54c409-1fe9-46ca-9472-6f6a390c74b8\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"name\", \"Year Of Registration\", \"Transmission\", \"Power\", \"Model\", \"Kilometers Used\", \"Fuel Type\", \"Repair or Damage\"],\"values\": [[n,yor,t,p,m,km,ft,rd]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":251.99999904632568,"wires":[["3acba974.29c2f6"]]},{"id":"3acba974.29c2f6","type":"http request","z":"4361c698.a5b3d8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/d2d7a79f-234c-49da-af19-2abcd102ce46/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":195.99999904632568,"wires":[["27a730ec.1db9","1859c3e5.39d5dc"]]},{"id":"3db14739.77f488","type":"ui_form","z":"4361c698.a5b3d8","name":"","label":"","group":"bb215863.b060f8","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"n","type":"text","required":false,"rows":null},{"label":"Model","value":"m","type":"text","required":false,"rows":null},{"label":"Power","value":"p","type":"text","required":true,"rows":null},{"label":"Kilomaters Used","value":"km","type":"text","required":true,"rows":null},{"label":"Transmission","value":"t","type":"text","required":true,"rows":null},{"label":"Fuel Type","value":"ft","type":"text","required":true,"rows":null},{"label":"Year Of Registration","value":"yor","type":"text","required":false,"rows":null},{"label":"Repair or Damage","value":"rd","type":"text","required":true,"rows":null}],"formValue":{"n":"","m":"","p":"","km":"","t":"","ft":"","yor":"","rd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":342.9999952316284,"wires":[["b5641a64.7b8228"]]},{"id":"6fb4eed2.2c516","type":"ui_text","z":"4361c698.a5b3d8","group":"bb215863.b060f8","order":1,"width":0,"height":0,"name":"","label":"Price(in $)","format":"{{msg.payload}}","layout":"row-spread","x":797.6000366210938,"y":348.20000743865967,"wires":[]},{"id":"27a730ec.1db9","type":"function","z":"4361c698.a5b3d8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":91.60000133514404,"wires":[["6fb4eed2.2c516"]]},{"id":"bb215863.b060f8","type":"ui_group","z":"","name":"Resale Prediction","tab":"3c5d7294.c3be1e","order":1,"disp":true,"width":"6","collapse":false},{"id":"3c5d7294.c3be1e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]